/*
 * -------------------------------------------------
 *  automate 16s nf Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  help = false
  input = "seqs"
  outdir = './results'
  metadata = 'metadata.tsv'
  manifest = 'manifest.tsv'
  itemOfInterest = 'SampleID'
  name= false
  email = false
  email_on_fail = false
  tracedir= './pipeline_info'

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

profiles {
  conda { 
    process.conda = "${projectDir}/environment.yml"
    process.conda = "${projectDir}/python2_env.yml"
   }
  debug { process.beforeScript = 'echo $HOSTNAME' }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.tracedir}/execution_timeline.html"
}
report {
  enabled = true
  file = "${params.tracedir}/execution_report.html"
}
trace {
  enabled = true
  file = "${params.tracedir}/execution_trace.txt"
}
dag {
  enabled = true
  file = "${params.tracedir}/pipeline_dag.svg"
}

manifest {
  name = 'automate_16s_nf.nf'
  author = 'Ben Lorentz'
  homePage = 'https://github.com/lorentzben/automate_16_nf'
  description = '16S rRNA amplicon sequencing analysis workflow using QIIME2'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.04.0'
  version = '1.0.0'
}